.Header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
  padding: var(--space-md);
  background: var(--gradient-body-background, var(--body-background));
  color: var(--text-secondary);
}

.frameless:not(.fullscreen) .Header {
  padding-right: calc(
    var(--overlay-controls-width) - env(titlebar-area-x, 0px) + 10px
  );
}

.Header__filters {
  margin-left: auto; /* Empurra para a direita */
  display: flex;
  gap: var(--space-md);
  align-items: center;
  z-index: 20;
}

.Header__filters button:not(.selectStyle) {
  border-radius: 20px !important;
}

/* Garante que os botões flutuantes respeitem os controles da janela no Windows */
.frameless:not(.fullscreen) .Header__filters {
  right: calc(var(--overlay-controls-width) - env(titlebar-area-x, 0px) + 10px);
}

.Header__search {
  display: flex;
  flex: 1;
}

.Header__search .FormControl {
  width: 100%;
  max-width: 700px;
}

.Header__summary {
  grid-area: summary;
  text-align: end;
  white-space: nowrap;
  margin-inline-start: 8px;
}

/* TODO move following styles to the components which use them */

.iconsWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.refreshIcon:hover,
.svg-button:focus-visible .refreshIcon {
  animation: refreshing 2s infinite;
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
