.libraryTitle {
  grid-area: title;
}

.sideloadGameButton {
  font-family: var(--secondary-font-family);
  border-radius: 21px;
  color: var(--text-tertiary);
  background: var(--primary-button, var(--accent));
  height: 42px;
  padding: 0 var(--space-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: 300ms;
}

.sideloadGameButton:hover,
.sideloadGameButton:focus-within {
  background: var(--primary-button, var(--accent-overlay));
  box-shadow: 0px 0px 0px 3px var(--button-stroke, var(--text-default));
}

.numberOfgames {
  font-size: var(--text-md);
  font-weight: var(--regular);
  background: var(--input-background);
  padding: var(--space-xs);
  margin-inline-start: var(--space-sm, 4px);
  border-radius: var(--space-3xs);
}
